# Directories
bin/**
obj/**
_Builds/**
_Versions/**
node_modules/**

# Pesky VS2012 debug info
*.pdb

# Building, deploying, and parsing scripts
*.js
*.bat
*_log.txt

# Icon project files, unnecessary
*.xcf

# Parsed readme, unnecessary
*.html

# Ignore any ZIP files
*.zip
