# Directories
bin/**
obj/**
_Builds/**
_Versions/**
node_modules/**

# Pesky VS2012 debug info
*.pdb

# Building, deploying, and parsing scripts
*.js
*.bat

# Parsed readme, for my eyes only
*.html

# Ignore any ZIP files
*.zip
